md-content.md-padding(ng-show="!hasPDF")
  h2 Open one or more pdf files from your dropbox

md-progress-linear.ignite.md-warn(ng-if="hasPDF",md-mode="buffer",value="{{pageProgress}}",md-buffer-value="{{slideProgress}}",style="z-index: 10")
ng-pdf(template-url="app/partials/viewer.html",ng-if="hasPDF",ng-style="{position: 'fixed', top: 0, left:0, right: 0, bottom: 0, 'z-index': 9}",scale="page-fit",ng-controller="PDFPlayerCtrl")
