md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="!hasPDF")
  md-toolbar.md-theme-indigo
    h1.md-toolbar-tools Ignite Talks
  md-content.md-padding(ng-controller='LeftCtrl')
    md-button.md-primary(ng-click='close()', hide-gt-md='') Close
    md-button.md-primary(ng-click="dropbox()")
      i.large.icon.dropbox
      | dropbox
    md-button.md-primary(ng-files-model="localFiles")
      label
        i.large.icon.file
        input(type="file",multiple,accept="application/pdf",style="display: none")
        | local files
    md-list(role="list",ui-sortable,ng-model="$storage.files")
      md-item(role="listitem",ng-repeat="file in $storage.files")
        md-item-content
          .md-tile-left
            img.face(ng-src="{{file.icon}}")
          .md-tile-content(ng-click="trigger(file)")
            h3 {{file.name}}
    md-button.md-primary(ng-click='reset()') RESET
