md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="!hasPDF")
  md-toolbar.md-theme-indigo
    h1.md-toolbar-tools Ignite Talks
    md-content.md-padding(ng-controller='LeftCtrl')
      md-button.md-primary(ng-click='close()', hide-gt-md='') Close
      md-button.md-primary(ng-click="dropbox()")
        i.large.icon.dropbox
        | dropbox
      div
        i.large.icon.file
        input(type="file",ng-files-model="localFiles",multiple)
        | local files
      md-button.md-warn(ng-repeat="file in files",ng-click="trigger(file)") {{file.name}}
