canvas#pdf-canvas(xng-controller="PDFPlayerCtrl",style="margin: auto; display: block")
md-icon(ng-show="ready && !started",md-svg-src="https://google.github.io/material-design-icons/av/svg/ic_play_circle_outline_24px.svg",class="s48",alt="Start",style="z-index: 99; width: 100%; height: 100%; position: fixed; left: 0; top: 0; color: red", ng-click="start()")
md-icon(ng-show="page > pageCount", md-svg-src="https://google.github.io/material-design-icons/action/svg/ic_view_list_24px.svg",class="s48",alt="End",style="z-index: 99; width: 100%; height: 100%; position: fixed; left: 0; top: 0; color: red", ng-click="end()")
